In [270]:
using Distributions, Statistics, Plots, StatsPlots, DataFrames;
gr()

Plots.GRBackend()

### 1

$H_O: $ There is no relationship between political affiliation and a a person’s income.

$H_A: $ There is a relationship between political affiliation and a person’s income.

All of the calculations were done below. 

$df=(3-1)(3-1)=4\,,\alpha=0.05\,, \chi* =14.1$ and from the table, $\chi^2_{0.01}(4)=13.28 < 14.1$. So $p < 0.01$.

Since $p<\alpha\,(p<0.05)\,$, we can conclude $H_A$ that there is a relationship between political affiliation and a person’s income. It looks like those whose incomes are less than $\$50000$ tend to like Democrat and not to like Other, those whose incomes are between $\$50000$ and $\$100000$ tend to like Other and not to ike Republican, and those whose incomes are more than $\$100000$ tend to like Republican and not to like Other.

In [271]:
less = 32+20+10
bet = 29+23+34
more = 30+35+20
dem = 32+29+30
rep = 20+23+35
other = 10+34+20
total = less+bet+more
dem+rep+other == less+bet+more

true

In [272]:
expected = ([less*dem less*rep less*other;
bet*dem bet*rep bet*other;
        more*dem more*rep more*other]./total)

3×3 Array{Float64,2}:
 24.2146  20.7554  17.03
 33.588   28.7897  23.6223
 33.1974  28.4549  23.3476

In [273]:
observed = ([32 20 10; 29 23 34; 30 35 20])

3×3 Array{Int64,2}:
 32  20  10
 29  23  34
 30  35  20

In [274]:
square = (observed .- expected) .^2

3×3 Array{Float64,2}:
 60.6126   0.570576   49.4215
 21.0496  33.5206    107.696
 10.2235  42.8379     11.2067

In [275]:
chi_star = sum(square ./ expected)

14.076186719999328

In [276]:
chisq4 = Chisq(4)
1-cdf(chisq4, chi_star)

0.007055827208204968

### 2

Now not all observed values are at least $5$ (less than $\$30000$,other) and (between $\$30000$ and $\$100000$, other), we need to correct it. Since the question is asking if Republicans seem to have higher incomes the non-republicans, it would not be a problem to merge "Other" into "Democrat" and to treat the new column as "Non-Republican." Now, all observed values are at least $5$.

Therefore, our null and alternative hypothesis would be

$H_O: $ There is no relationship between whether a person is Republican and a person's income.

$H_A: $ There is a relationship between whether a person is Republican and a person's income.

$df=(3-1)(2-1)=2,\, \alpha=0.05, \chi* = 13.5$ and from the table, $\chi^2_{0.01}(2)=9.210<13.5$. So $p<0.01$.

Since $p<\alpha\,(p<0.05)$, we can conclude $H_A$ that tere is a relationship between whether a person is Republican and a person's income.And it looks like that Republicans have higher incomes than non-repablicans since the proportion of non-repabulicans is greater among people whose incomes are $\$100000$ or less, but the proportion of Republicans is greater for those whose incommes are more than $\$100000$.

In [277]:
observed = [20+4 7; 28+3 13; 20+6 35]
df=DataFrame(["" "non" "repabulicans"; "less than" 20+4 7; "between" 28+3 13; "more than" 20+6 35])

4×3 DataFrame
│ Row │ x1        │ x2  │ x3           │
│     │ Any       │ Any │ Any          │
├─────┼───────────┼─────┼──────────────┤
│ 1   │           │ non │ repabulicans │
│ 2   │ less than │ 24  │ 7            │
│ 3   │ between   │ 31  │ 13           │
│ 4   │ more than │ 26  │ 35           │

In [278]:
less = sum(observed[1,:])
bet = sum(observed[2,:])
more = sum(observed[3,:])
total1 = less+bet+more
DataFrame(less=less,between=bet,more=more,total=total1)

1×4 DataFrame
│ Row │ less  │ between │ more  │ total │
│     │ Int64 │ Int64   │ Int64 │ Int64 │
├─────┼───────┼─────────┼───────┼───────┤
│ 1   │ 31    │ 44      │ 61    │ 136   │

In [279]:
non = sum(observed[:,1])
rep = sum(observed[:,2])
total2 = non+rep
DataFrame(non=non, republican=rep, total=total2)

1×3 DataFrame
│ Row │ non   │ republican │ total │
│     │ Int64 │ Int64      │ Int64 │
├─────┼───────┼────────────┼───────┤
│ 1   │ 81    │ 55         │ 136   │

In [280]:
expected = ([less*non/total1 less*rep/total1;
bet*non/total1 bet*rep/total1;
        more*non/total1 more*rep/total1])
DataFrame(["" "non" "repabulicans"; "less than" less*non/total1 less*rep/total1;
"between" bet*non/total1 bet*rep/total1;
        "more than" more*non/total1 more*rep/total1])

4×3 DataFrame
│ Row │ x1        │ x2      │ x3           │
│     │ Any       │ Any     │ Any          │
├─────┼───────────┼─────────┼──────────────┤
│ 1   │           │ non     │ repabulicans │
│ 2   │ less than │ 18.4632 │ 12.5368      │
│ 3   │ between   │ 26.2059 │ 17.7941      │
│ 4   │ more than │ 36.3309 │ 24.6691      │

In [281]:
square = (observed .- expected) .^2

3×2 Array{Float64,2}:
  30.6558   30.6558
  22.9836   22.9836
 106.727   106.727

In [282]:
chi_star = sum(square ./ expected)

13.538301464074262

In [283]:
chisq2 = Chisq(2)
1-cdf(chisq2, chi_star)

0.001148669765207666

### 3

$H_O: $ The sample came from a Binomial distribution with ($m=10, \hat p=0.32$) 

$H_A: $ The sample did not come from a Binomial distribution with ($m=10, \hat p=0.32$)

$df=6-1-1=4 \,, \alpha=0.1 \,, \chi*=2.82$ and from the table, $\chi^2_{0.90}(4)=1.064 \,, \chi^2_{0.10}(4)=7.779$. So $0.10 < p <0.90$. Since $p>\alpha\,(p>0.10)$, we cannot conclude our $H_A$ that the sample did not come from a Binomial distribution with ($m=10, \hat p=0.32$).

In [284]:
data = ([7 2 1 3 4 2 3 3 3 5 3 4 4 1 1 7 5 2 5 2 2 4 1 4 5 3 6 2 4 4 3 5 1 3 0 6 1 0 2 2 6 3 3 4 4 1 4 3 4 3])
data = data'

50×1 LinearAlgebra.Adjoint{Int64,Array{Int64,2}}:
 7
 2
 1
 3
 4
 2
 3
 3
 3
 5
 3
 4
 4
 ⋮
 2
 2
 6
 3
 3
 4
 4
 1
 4
 3
 4
 3

In [285]:
is2(x)=x==2;is3(x)=x==3;is4(x)=x==4;
is5(x)=x==5;is6(x)=x==6;is7(x)=x==7;

In [286]:
freq=([count(iszero,data),count(isone,data),count(is2,data),count(is3,data),count(is4,data),
count(is5,data),count(is6,data), count(is7,data)])
names!(DataFrame(freq'),Symbol.(["0","1","2","3","4","5","6","7"]))

┌ Warning: `names!(df::AbstractDataFrame, vals::Vector{Symbol}; makeunique::Bool=false)` is deprecated, use `rename!(df, vals, makeunique=makeunique)` instead.
│   caller = top-level scope at In[286]:3
└ @ Core In[286]:3

1×8 DataFrame
│ Row │ 0     │ 1     │ 2     │ 3     │ 4     │ 5     │ 6     │ 7     │
│     │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │
├─────┼───────┼───────┼───────┼───────┼───────┼───────┼───────┼───────┤
│ 1   │ 2     │ 7     │ 8     │ 12    │ 11    │ 5     │ 3     │ 2     │

In [287]:
freq_correct=[9,8,12,11,5,5]
names!(DataFrame(freq_correct'),Symbol.(["0-1","2","3","4","5","6 or more"]))

┌ Warning: `names!(df::AbstractDataFrame, vals::Vector{Symbol}; makeunique::Bool=false)` is deprecated, use `rename!(df, vals, makeunique=makeunique)` instead.
│   caller = top-level scope at In[287]:2
└ @ Core In[287]:2

1×6 DataFrame
│ Row │ 0-1   │ 2     │ 3     │ 4     │ 5     │ 6 or more │
│     │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64     │
├─────┼───────┼───────┼───────┼───────┼───────┼───────────┤
│ 1   │ 9     │ 8     │ 12    │ 11    │ 5     │ 5         │

In [288]:
p_hat=sum(freq .* [0,1,2,3,4,5,6,7] )/(10*50)

0.32

In [289]:
bin_10 =Binomial(10,p_hat)

Binomial{Float64}(n=10, p=0.32)

In [290]:
expected = 50*[cdf(bin_10,1), pdf(bin_10,2), pdf(bin_10,3), pdf(bin_10,4),
pdf(bin_10,5), (1-cdf(bin_10,5))]
names!(DataFrame(expected'),Symbol.(["0-1","2","3","4","5","6 or more"]))

┌ Warning: `names!(df::AbstractDataFrame, vals::Vector{Symbol}; makeunique::Bool=false)` is deprecated, use `rename!(df, vals, makeunique=makeunique)` instead.
│   caller = top-level scope at In[290]:3
└ @ Core In[290]:3

1×6 DataFrame
│ Row │ 0-1     │ 2       │ 3       │ 4       │ 5       │ 6 or more │
│     │ Float64 │ Float64 │ Float64 │ Float64 │ Float64 │ Float64   │
├─────┼─────────┼─────────┼─────────┼─────────┼─────────┼───────────┤
│ 1   │ 6.0309  │ 10.533  │ 13.2179 │ 10.8854 │ 6.14703 │ 3.18575   │

In [291]:
sum(expected)

49.99999999999999

In [292]:
square = (freq_correct .- expected) .^2

6-element Array{Float64,1}:
 8.815569907836405
 6.416296918499832
 1.4833628779388353
 0.013142950200864157
 1.3156670274538924
 3.291521000357493

In [293]:
chi_star = sum(square ./ freq_correct)

2.8277908747283282

In [294]:
df = 6-1-1
p_val = 1-cdf(chisq4,chi_star)

0.5870451000229467

### 4

$H_O: $ The sample came from a Binomial distribution with ($m=10, p=0.5$) 

$H_A: $ The sample did not from a Binomial distribution with ($m=10, p=0.5$)

$df=6-1=5 \,, \alpha=0.1 \,, \chi*=170$ and from the table, $\chi^2_{0.01}(5)= 15.09 < 170$. So $p <0.10$. Since $p<\alpha\,(p<0.10)$, we can conclude our $H_A$ that the sample did not come from a Binomial distribution with ($m=10, p=0.5$).

In [295]:
bin2 = Binomial(10,0.5)
df = 6-1
chi5 = Chisq(df)
expected = 50*[cdf(bin2,1), pdf(bin2,2), pdf(bin2,3), pdf(bin2,4),
pdf(bin2,5), (1-cdf(bin2,5))]
names!(DataFrame(expected'),Symbol.(["0-1","2","3","4","5","6 or more"]))

┌ Warning: `names!(df::AbstractDataFrame, vals::Vector{Symbol}; makeunique::Bool=false)` is deprecated, use `rename!(df, vals, makeunique=makeunique)` instead.
│   caller = top-level scope at In[295]:6
└ @ Core In[295]:6

1×6 DataFrame
│ Row │ 0-1      │ 2       │ 3       │ 4       │ 5       │ 6 or more │
│     │ Float64  │ Float64 │ Float64 │ Float64 │ Float64 │ Float64   │
├─────┼──────────┼─────────┼─────────┼─────────┼─────────┼───────────┤
│ 1   │ 0.537109 │ 2.19727 │ 5.85938 │ 10.2539 │ 12.3047 │ 18.8477   │

In [296]:
sum(expected)

50.000000000000014

In [297]:
square = (freq_correct .- expected).^2

6-element Array{Float64,1}:
  71.62051773071289
  33.67172622680666
  37.707275390624915
   0.5566558837890652
  53.35845947265628
 191.75758361816426

In [298]:
chi_star = sum(square ./ expected)

169.66893569297704

In [299]:
p_val=1-cdf(chi5,chi_star)

0.0

### 5
$H_O: \, p=0.5 \, H_A: \, p \neq 0.5$

$\hat p= \frac{0*2+1*7+2*8+3*12+4*11+5*5+6*3+7*2}{50*10}=0.32, \, K=0.5, \, \alpha=0.1, \, n=50,\,m=10$

$Z_1 = (\hat p-K)/\sqrt{K(1-K)/n*m}=(0.32-0.5)/\sqrt{0.5*0.5/500}=-8.05$

$p = 2(1-P(Z<|Z_1|))=2(1-P(Z>8.05)) \approx 0$

Therefore, $p$-value in $\#5\,$is almost the same as in $\#4$ so we can conclude $H_A$

In [300]:
z1=(0.32-0.5)/sqrt(0.5^2/500)

-8.049844718999243

In [301]:
Z = Normal()
2*(1-cdf(Z,-z1))

8.881784197001252e-16

### 6

$H_O: $ The die is unbiased, and the sample came from a Descrete Uniform $(m=6)$ distribution.

$H_A: $ The die is biased, and the sample did not came from a Descrete Uniform $(m=6)$ distribution. 

$df=6-1=5 \,, \alpha=0.10 \,, \chi*=2.29$ and from the table, $\chi^2_{0.90}(5)=1.610\,,\chi^2_{0.1}(5)=9.234$. So $0.1<p<0.9$. Since $p>\alpha\,(p>0.10)$, we cannot conclude $H_A$ that the die is biased, and the sample did not came from a Descrete Uniform $(m=6)$ distribution.

In [302]:
data = [2 1 6 5 2 5 2 2 4 1 4 5 3 6 4 4 3 5 1 3 5 6 1 5 2 2 6 3 1 4 3 5 2 6 6 1 5 2 5 1 3 5]
data';
freq=([count(isone,data),count(is2,data),count(is3,data),count(is4,data),
count(is5,data),count(is6,data)])
names!(DataFrame(freq'),Symbol.(["1","2","3","4","5","6"]))

┌ Warning: `names!(df::AbstractDataFrame, vals::Vector{Symbol}; makeunique::Bool=false)` is deprecated, use `rename!(df, vals, makeunique=makeunique)` instead.
│   caller = top-level scope at In[302]:5
└ @ Core In[302]:5

1×6 DataFrame
│ Row │ 1     │ 2     │ 3     │ 4     │ 5     │ 6     │
│     │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │
├─────┼───────┼───────┼───────┼───────┼───────┼───────┤
│ 1   │ 7     │ 8     │ 6     │ 5     │ 10    │ 6     │

In [303]:
expected = length(data) ./ 6
expected_ary = [expected, expected,expected, expected, expected,expected]
names!(DataFrame(expected_ary'),Symbol.(["1","2","3","4","5","6"]))

┌ Warning: `names!(df::AbstractDataFrame, vals::Vector{Symbol}; makeunique::Bool=false)` is deprecated, use `rename!(df, vals, makeunique=makeunique)` instead.
│   caller = top-level scope at In[303]:3
└ @ Core In[303]:3

1×6 DataFrame
│ Row │ 1       │ 2       │ 3       │ 4       │ 5       │ 6       │
│     │ Float64 │ Float64 │ Float64 │ Float64 │ Float64 │ Float64 │
├─────┼─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤
│ 1   │ 7.0     │ 7.0     │ 7.0     │ 7.0     │ 7.0     │ 7.0     │

In [304]:
square = (freq .- expected_ary) .^2

6-element Array{Float64,1}:
 0.0
 1.0
 1.0
 4.0
 9.0
 1.0

In [305]:
chi_star = sum(square ./ expected_ary)

2.2857142857142856

In [306]:
chi5 = Chisq(5)
1-cdf(chi5,chi_star)

0.8083627560836737